<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ME3Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InputTlkFilePath" value="C:\example.tlk" />
    <add key="OutputTextFilePath" value="C:\example.xml" />
    <add key="InputXmlFilePath" value="C:\example.xml" />
    <add key="OutputTlkFilePath" value="C:\example.tlk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <ME3Explorer.Properties.Settings>
      <setting name="TexplorerME3Path" serializeAs="String">
        <value />
      </setting>
      <setting name="NumThreads" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TexplorerME3DLCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TexplorerGameVersion" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TexplorerME1Path" serializeAs="String">
        <value />
      </setting>
      <setting name="TexplorerME1DLCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TexplorerME2Path" serializeAs="String">
        <value />
      </setting>
      <setting name="TexplorerME2DLCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TPFToolsGameVersion" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundplorerReverseIDDisplayEndianness" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlotVarDBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableToolDescriptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMetadataFullPaths" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MeshplorerViewRotating" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MeshplorerViewWireframeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MeshplorerViewSolidEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MeshplorerViewFirstPerson" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SoundpanelRepeating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BinaryInterpreterWPFAutoScanAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyParsingME3UnknownArrayAsObject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyParsingME2UnknownArrayAsObject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyParsingME1UnknownArrayAsObject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathfindingEditorShowNodeSizes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PackageEditorWPF_TreeViewShowEntryIndex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmbeddedTextureViewer_AutoLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InterpreterWPF_AdvancedDisplay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchComfyMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterpreterWPF_Colorize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ME1Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="ME2Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="ME3Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="PropertyDBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TLKGender_IsMale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TLKLanguage" serializeAs="String">
        <value>INT</value>
      </setting>
      <setting name="InterpreterWPF_LimitArrayPropertySize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PackageEditorWPF_ShowImpExpPrefix" serializeAs="String">
        <value>True</value>
      </setting>
    </ME3Explorer.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <probing privatePath="lib;libs" xmlns="" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
